<div class="jumbotron">
  <div class="row">
    <img src="../../assets/home.svg" class="col-md-6" />
    <div class="col-md-6">
      <h1 class="display-4">3D Medical Imaging</h1>
      <p class="lead">Access Intelligent recommendations to assist you 
        analyze your medical images. Use our 3D engine to
        visualize the medical image for a better 
        understanding.</p>
      <hr class="my-4">
      <p>Medical Image Analysis and 3D Visualization.</p>
      <app-scan></app-scan>
    </div>
  </div>

</div>